html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title Room
    body 
        header 
            h1 Room
        main 
            div#welcome
                form
                    label(for="room-name") Room
                    input#room-name(placeholder="Please write room name", required, type="text")
                    label(for="nick-name") Name
                    input#nick-name(placeholder="Please write your Nickname to use", required, type="text")            
                    button Enter
                h4 Rooms Now:
                ul
            div#room
                h3 
                ul
                form
                    input(placeholder="Write a message...", required, type="text")            
                    button Send
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")